---
import Form from '../components/Form.astro'
---
<main class="container mx-auto px-4 section">
	<div class="grid grid-cols-12 gap-8 items-center">
		<div class="col-span-12 md:col-span-6 lg:col-span-6">

			<h1 class="font-headline font-semibold text-2xl leading-normal sm:text-3xl sm:leading-snug lg:text-4xl lg:leading-snug 2xl:text-5xl 2xl:leading-tight 2xl:pr-[20%]">
				Combat Hair Loss Your Way, at Landmark Clinic in London
			</h1>
			<ul class="mt-6 font-medium text-sm xl:text-lg lg:mt-8 xl:mt-12">
				<li class="flex mb-3">
					<div class="text-green">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 xl:w-6 xl:h-6">
							<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						</svg>
					</div>
					
					<div class="">
						Awarded Hair Transplant Clinic of the Year 2023
					</div>
				</li>
				<li class="flex mb-3">
					<div class="text-green">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 xl:w-6 xl:h-6">
							<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						</svg>
					</div>
					
					<div class="">
						Delivering Natural Results Since 1975
					</div>
				</li>
				<li class="flex mb-3">
					<div class="text-green">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 xl:w-6 xl:h-6">
							<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						</svg>
					</div>
					
					<div class="">
						5 Star Google & Trustpilot Reviews
					</div>
				</li>
			</ul>
			
		</div>
		<div class="col-span-12 md:col-span-6 lg:col-span-6">
			<Form />
		</div>
	</div>
</main>
