---
import { Image } from "astro:assets";
import landmarkClinicLogo from '../assets/landmark-clinic-logo.svg'
import landmarkClinicIcon from '../assets/landmark-clinic-icon.svg'
---

<style lang="scss">
   .navbar-menu {
    .active {
        @apply text-green;
    }
   }

   .desktop-nav {
    .active {
        @apply border-green;
    }
   }
</style>

<nav class="bg-white drop-shadow-lg fixed top-0 left-0 right- z-50 w-full">
    <div class="container px-4 flex justify-between items-center mx-auto min-h-[90px]">
        <a class="text-3xl font-bold leading-none" href="#">
        <Image class:list="max-w-[160px] lg:max-w-[200px]" src={landmarkClinicLogo} alt="landmark Clinic Logo" />
        </a>
        <div class="lg:hidden">
            <button class="navbar-burger flex items-center text-black">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                  
            </button>
        </div>
        <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6 h-full desktop-nav">
           
            <li class="h-full flex items-center text-center text-sm xl:text-base 2xl:text-lg">
                <a class="text-black hover:border-grey transition duration-200 border-b-4 border-white px-1 mx-2 active" href="/Home">Home</a>
                <a class="text-black hover:border-grey transition duration-200 border-b-4 border-white px-1 mx-2" href="/About">About</a>
                <a class="text-black hover:border-grey transition duration-200 border-b-4 border-white px-1 mx-2" href="#">Hair Loss Solutions</a>
                <a class="text-black hover:border-grey transition duration-200 border-b-4 border-white px-1 mx-2" href="#">Prices</a>
                <a class="text-black hover:border-grey transition duration-200 border-b-4 border-white px-1 mx-2" href="#">Blog</a>
                <a class="text-black hover:border-grey transition duration-200 border-b-4 border-white px-1 mx-2" href="#">Contact</a>
            </li>
            
            
   
          
           
        </ul>
        <a class="font-headline uppercase hidden lg:inline-block lg:ml-auto py-2 px-6 bg-green hover:bg-blue text-sm text-white font-bold  rounded-full transition duration-200" href="#">Free Consultation</a>
       
    </div>
</nav>



<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-black opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 w-full max-w-none bg-white overflow-y-auto">
        <div class="container px-4 mx-auto flex flex-col h-full">
            <div class="flex items-center justify-between min-h-[90px]">
                <a class="text-black opacity-50" href="#">
                  
        

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                      </svg>
                      
                      
                      
                </a>
                <a class="inline-block max-w-[60px]" href="#">
                    <Image class="block" src={landmarkClinicIcon} alt="landmark Clinic Icon" />
                </a>
                <button class="navbar-close text-black opacity-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                      
                </button>
            </div>
            <div class="my-8">
                <ul class="text-center">
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black active" href="#">Home</a>
                    </li>
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black" href="#">About</a>
                    </li>
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black" href="#">Hair Loss Solutions</a>
                    </li>
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black" href="#">Before & After</a>
                    </li>
                   
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black" href="#">Prices</a>
                    </li>
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black" href="#">Blog</a>
                    </li>
             
                    <li>
                        <a class="block p-3 text-2xl font-medium text-black" href="#">Contact</a>
                    </li>
                    
                </ul>
            </div>
            <div class="mt-auto text-center mb-20">
                
                    <a class="font-headline uppercase inline-flex justify-center items-center px-6 text-white py-2 leading-loose text-center font-semibold bg-green hover:bg-blue rounded-full" href="#">
                        Free Consultation
            
    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-2">
                            <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
                          </svg>
                          
                          
                    </a>
                
               
            </div>
        </div>
    </nav>
</div>




<script>
    // Burger menus
document.addEventListener('DOMContentLoaded', function() {
    // open
    const burger = document.querySelectorAll('.navbar-burger');
    const menu = document.querySelectorAll('.navbar-menu');

    if (burger.length && menu.length) {
        for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    // close
    const close = document.querySelectorAll('.navbar-close');
    const backdrop = document.querySelectorAll('.navbar-backdrop');

    if (close.length) {
        for (var i = 0; i < close.length; i++) {
            close[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    if (backdrop.length) {
        for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }
});
</script>
