---
import Button from "../components/Button.astro";
import { Image, getImage } from "astro:assets";
import Background from "../assets/tile.png";
const optimizedBackground = await getImage({ src: Background });

// interface Props {
//     isRightImageLayout: boolean;
// }
const { headline, copy, btnCopy, btnLink, btnColorDark } = Astro.props;
---

<style lang="scss">
  section {
    @apply bg-white;

    .bg {
      background-size: 500px auto;
      background-position: center center;
      @apply bg-blue;
      @apply bg-opacity-10;
    }
  }
</style>

<section>
  <div class="bg" style={`background-image: url(${optimizedBackground.src});`}>
    <div class="container mx-auto px-4 section">
      <div
        class="grid grid-cols-12 gap-8 grid-flow-row text-center lg:text-left items-center">
        <div class="col-span-12 lg:col-span-6 lg:col-start-4">
          <h2
            class="font-headline font-medium text-xl leading-normal mb-4 sm:text-2xl sm:mb-6 sm:leading-snug lg:text-3xl lg:leading-snug 2xl:text-4xl 2xl:leading-tight text-center">
            Over 10,000 Hair Transplant <strong
              >Treatments London & Turkey</strong
            >
          </h2>
        </div>

        <div
          class="col-span-12 flex flex-col md:flex-row lg:col-span-8 lg:col-start-3 gap-8 justify-between text-center mb-4 sm:mb-6">
          <div>
            <h3 class="font-headline text-lg sm:text-4xl font-bold text-blue">
              10,000+
            </h3>
            <p class="font-bold text-lg">Satisfied Customers</p>
          </div>

          <div>
            <h3 class="font-headline text-lg sm:text-4xl font-bold text-blue">
              500+
            </h3>
            <p class="font-bold text-lg">Positive Reviews</p>
          </div>

          <div>
            <h3 class="font-headline text-lg sm:text-4xl font-bold text-blue">
              48+
            </h3>
            <p class="font-bold text-lg">Years of Experience</p>
          </div>
        </div>

        <div class="col-span-12 grid-cols-12 text-center">
          <Button
            copy="Compare prices"
            link="https://www.google.com"
            isDark={true}
          />
        </div>
      </div>
    </div>
  </div>
</section>
