---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { getImage } from "astro:assets";
import myBackground from "../assets/gradient.png"
import Navigation from "../components/Navigation.astro";
import Footer from "../components/footer.astro";

const optimizedBackground = await getImage({src: myBackground})
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-body text-black pt-[90px]" style={`background-image: url(${optimizedBackground.src});`}>
		<Navigation/>
			<slot />
		<Footer/>
	</body>
</html>

